* {
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    font-family: 'eminem-encore-regular', sans-serif;
    ;
}

#logo {
    float: left;
    font-size: 70px;
    color: black;
}

body {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;

}

/*navigation links*/

#menu {
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 12px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-family: 'eminem-encore-regular', sans-serif;
}

#menu a:hover {
    border-bottom: 1px solid grey
}

.active {
    border-bottom: 1px solid grey;
}

#menu,
#logo {
    line-height: 75px;
    margin-left: 50px;
    margin-bottom: 25px
}

/* text formatation*/


h1 {
    text-transform: uppercase;
    font-size: 50px;
    letter-spacing: 4px;
    font-family: 'eminem-encore-regular', sans-serif;
    overflow: visible;
}

.h3-title {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.h3-title-grey {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(26, 26, 26);
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 20px;

}

#about {
    font-size: 360%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 10px;
    margin-top: 75px;
    font-family: 'eminem-encore-regular', sans-serif;

}

.title {
    text-transform: uppercase;
    font-size: 35px;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
}

section {
    font-family: 'eminem-encore-regular', sans-serif;
}

.bio-text {
    text-align: center;
    text-size-adjust: auto;
    overflow-x: hidden;
    font-size: 24px;
    margin-top: 35px;
}

.h3-bio {
    font-size: 56px;
    text-transform: uppercase;
}


.grey-block {
    background-color: #333;
    color: white;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    list-style: none;
    font-family: 'eminem-encore-regular', sans-serif;
}

.white-block {
    color: black;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    padding-bottom: 15px;
    list-style: none;
    font-family: 'eminem-encore-regular', sans-serif;
}

#about-text-menu {
    padding-left: 50px;
    padding-top: 15px;
    color: white;
}

/*hero image*/

#hero-image {
    height: 600px;
    width: 100%;
    background: url("../images/hero.jpg") no-repeat center center;
    margin-top: 15px;
    background-color: black;
}

#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;

    animation: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* creates the zoom for hero image*/

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }

    to {
        transform: scale(1.1);
    }
}

/* Hero Image cover text*/

#cover-text h2 {
    color: rgb(245, 238, 238);
    font-size: 200%;
    font-family: 'eminem-encore-regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 450px;
    height: 150px;

    padding-top: 30px;
    padding-left: 10px;

    background-color: rgba(85, 85, 85, 0.377);

    bottom: 250px;
    left: 50%;

    position: absolute;
}

#cover-text h3 {
    color: rgb(245, 238, 238);
    font-size: 160%;
    font-family: 'eminem-encore-regular', sans-serif;
    letter-spacing: 4px;

    width: 450px;
    height: 150px;

    padding-left: 10px;
    bottom: 200px;
    left: 50%;

    position: absolute;
}

#cover-text h4 {
    color: rgb(245, 238, 238);
    font-size: 160%;
    font-family: 'eminem-encore-regular', sans-serif;
    letter-spacing: 4px;

    width: 450px;
    height: 150px;

    padding-left: 10px;
    bottom: 150px;
    left: 50%;

    position: absolute;
}

/*Menu image animation*/

.image-container {
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}

.zoom-image {
    width: 32%;
    height: 800px;
    margin: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.zoom-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 5px;
}

.zoom-image:hover {
    transform: scale(1.05);
}

.image-text {
    position: absolute;
    bottom: 600px;
    left: 0;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.329);
    color: #ffffff;
    font-size: 46px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.zoom-image:hover .image-text {
    opacity: 1;
}

/*Concert calendar*/

.concert-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

h2 {
    width: 100%;
    font-size: 28px;
}

.concert-card {
    position: relative;
    width: 30%;
    background-color: #ffffff49;
    padding: 5px;
    padding-top: 20px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.concert-card:hover {
    transform: scale(1.05);
}

h3 {
    font-size: 24px;
}

#concert-text {
    font-size: 16px;
    text-align: center;
}

img {
    width: 80%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
    justify-content: center;
}

/**biography**/

.biography-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding: 20px;
    list-style: none;
}

.cell {
    padding: 20px;
    list-style: none;
}

/**footer**/
.horizontal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    height: 80px;
    margin-top: 30px;
}

.social-icon {
    font-size: 32px;
    color: #fff;
    margin: 0 10px;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.4);
}


/*Sing-up Form*/


.singup-container {
    width: 30%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    background-color: hwb(0 32% 68%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-bottom: 30px;
    color: white;
    border-radius: 10px;
    margin-top: 35px;
    margin-bottom: 75px;
}

#singup-h2 {
    text-align: center;
    color: white;
    font-size: 46px;
    margin-bottom: 40px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 20px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;

}

.form-group label,
.form-group input {
    display: block;
    width: 100%;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: white;
    color: #333;
    cursor: pointer;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
}

.form-group input[type="submit"]:hover {
    background-color: #333;
    color: white;
}


/*sing up answer page*/

.singup-answer {
    width: 90%;
    height: 600px;
    background: url(../images/stan.jpg);
    background-color: #333;
    margin-top: 75px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'eminem-encore-regular', sans-serif fixed;
    text-decoration: none;
}

.h2-singup {
    color: white;
    text-align: center;
    font-size: 46px;
    padding-top: 10px;
}

.p-singup {
    font-size: 36px;
    color: white;
    width: 450px;
    margin-left: 50px;
    margin-top: 150px;
}

.homepage-link-text {
    margin-top: 185px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

.homepage-link-text:hover {
    zoom: 120%;
    margin-top: 155px;
}


.homepage-link {
    color: rgb(255, 255, 255);
    width: 25%;
    border: 3px solid white;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    letter-spacing: 2px;
}


/*Table-discography*/

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
    color: white;
}

td {
    border: 1px solid black;
    height: 400px;
    width: 400px;
    background-color: #333;
}

.album-cover {
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    display: block;
}

.table-title {
    margin-top: 15px;
    text-align: center;
    font-family: 'eminem-encore-regular', sans-serif;
}

.table-text {
    font-size: 24px;
    margin-top: 15px;
    text-align: center;
    font-family: 'eminem-encore-regular', sans-serif;
}



/*Diss's Menu*/

.container-diss {
    height: 600px;
    width: 80%;
    margin: 30px 0 30px 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #333;
}

.text-diss {
    color: white;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    float: left;
    width: 40%;
    padding-left: 60px;
    font-family: 'eminem-encore-regular', sans-serif;
    line-height: 35px;
}

.h2-diss {
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
}

.album-diss {
    float: right;
    height: 70%;
    width: 40%;
    margin-left: auto auto auto auto;
    padding-right: 60px;
    margin-top: 30px;

}


.here {
    color: white;
    text-decoration: underline;
    font-size: 36px;
    text-transform: uppercase;

}

.here:hover {
    zoom: 1.2;
    transition: 3s;
}

.diss-video {
    margin-left: auto;
    margin-right: auto;
}

/*Media queries*/


/* Medium devices*/


@media only screen and (max-width: 768px) {

    /*media querie index.html*/

    #logo {
        font-size: 50px;
        float: center;
    }

    #menu {
        float: left;
    }

    #hero-outer {
        height: 300px;
    }

    #hero-image {
        height: 250px;
    }

    #cover-text h2 {
        left: 35%;
        margin-bottom: -175px;

    }

    #cover-text h3 {
        left: 35%;
        margin-bottom: -175px;

    }

    #cover-text h4 {
        left: 35%;
        margin-bottom: -175px;

    }

    .singup-container {
        width: 80%;
        margin: auto;

    }

    /*media querie biography page*/

    .h3-title-grey {
        font-size: 24px;
    }

    .h3-title-grey li {
        font-size: 16px;
    }

    .grey-block {
        font-size: 16px;
    }

    .h3-title {
        font-size: 24px;
    }

    .white-block {
        font-size: 16px;
    }

    /*Media queries Diss page*/


    .text-diss {
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
        padding-left: 10px;
        width: 100%;
    }

    .album-diss {
        width: 80%;
        height: 300px;
    }



    .h2-diss {
        font-size: 24px;
        padding-top: 10px;
    }

    .album-diss {
        border-left: 15px;
        border-right: 15px;
    }

    /*Media queries for discography*/

    td {
        display: inline-flex;
        flex-direction: column;
        margin: 15px;
    }

    .singup-answer {
        width: 80%;
        height: 600px;
        margin-top: 50px;
    }

    .h2-singup {
        font-size: 20px;
    }
}

@media (max-width: 320px) {

    /*media querie index.html*/

    #menu {
        line-height: 24px;
        font-size: small;
        margin-bottom: 15px;
        letter-spacing: 0px;
        text-align: center;
    }

    #menu a {
        font-size: 13px;
        float: left;
    }

    #logo {
        margin-left: auto;
        margin-right: auto;
    }

    #hero-outer {
        height: 200px;
    }

    #hero-image {
        height: 200px;
    }

    #cover-text h2 {
        left: 10%;
        margin-bottom: -250px;

    }

    #cover-text h3 {
        left: 10%;
        margin-bottom: -270px;
        font-size: 18px;

    }

    #cover-text h4 {
        left: 10%;
        margin-bottom: -250px;
    }

    .image-container {
        display: flex;
        flex-direction: column;
    }

    .zoom-image {
        width: 100%;
    }

    .concert-card {
        width: 100%;
    }

    .concert-section {
        flex-direction: column;
        width: 100%;
    }

    .singup-container {
        width: 80%;
        margin: auto;

    }

    .form-group input[type="submit"] {
        width: 50%;
    }

    /*media querie biography page*/


    .biography-table {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-top: 20px;
        padding-left: 0px;

    }

    .h3-title-grey {
        font-size: 14px;
    }

    .h3-title-grey li {
        font-size: 14px;
    }

    .grey-block {
        font-size: 14px;
    }

    .h3-title {
        font-size: 18px;
    }

    .white-block {
        font-size: 16px;
    }

    /*Media queries Diss page*/

    .text-diss {
        margin-top: 20px;
        font-size: 14px;
        line-height: 18px;
        padding-left: 10px;
        width: 100%;
    }

    .album-diss {
        width: 80%;
        height: 300px;
    }

    .h2-diss {
        font-size: 24px;
        padding-top: 10px;
    }

    .album-diss {
        border-left: 15px;
        border-right: 15px;
    }

    /*Media queries for discography*/

    td {
        display: inline-flex;
        flex-direction: column;
        margin: 15px;
    }

    /*Sing up answer page*/

    .p-singup {
        font-size: 18px;
        width: 80%;
    }

    .singup-answer {
        width: 95%;
        height: 500px;
        margin-top: 30px;
    }

    .homepage-link-text {
        position: fixed;

    }